<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" width="80%" align ="center">
<tr>
<td align="center"colspan ="8" ><img src="head.jpg"></td>
</tr>
<tr>
<td align="center" colspan="8"><h1>EQUIPMENT ASSIGNMENT FORM</h1></td>
</tr>
<tr>
<td align="center" colspan="8"></td>
</tr>
<tr>
<td align="center" colspan="8"><h2>STAFF INFORMATION</h2></td>
</tr>
<tr>
<tr>
<td align="center" colspan="8"></td>
</tr>
<td><h4>First Name:</h4></td>
<td colspan="3">_________________________________________________________________________</td>
<td><h4>Last Name:</h4></td>
<td colspan="3">_________________________________________________________________________</td>
</tr>
<tr>
<td align="center" colspan="8"></td>
</tr>
<tr>
<td><h4>E-mail:</h4></td>
<td colspan="3">_________________________________________________________________________</td>
<td><h4>Mobile No.:</h4></td>
<td colspan="3">_________________________________</td>
</tr>
<tr>
<td align="center" colspan="8"></td>
</tr>
<tr>
<td><h4>Type:</h4></td>
<td colspan="3">_________________________________</td>
<td><h4>Serial No.:</h4></td>
<td colspan="3">__________________________________</td>
</tr>
<tr>
<td align="center" colspan="8"></td>
</tr>
<tr>
<td><h4>Manager:</h4></td>
<td colspan="3">__________________________________</td>
</tr>
<tr>
<td align="center" colspan="8"></td>
</tr>
<tr>
<td><h4>Department:</h4></td>
<td colspan="3">_________________________________</td>
<td><h4>Cost center:</h4></td>
<td colspan="3">__________________________________</td>
</tr>
<tr>
<td align="center" colspan="8"></td>
</tr>
<tr>
<td align="center" colspan="8"><h2>ASSET DETAILS</h2></td>
</tr>
<tr>
<td align="center" colspan="8"></td>
</tr>
<tr>
<td><h4>Type:</h4></td>
<td colspan="3">_________________________________</td>
<td><h4>Serial No.:</h4></td>
<td colspan="3">__________________________________</td>
</tr>
<tr>
<td align="center" colspan="8"></td>
</tr>
<tr>
<td><h4>Asset Number:</h4></td>
<td colspan="3">_________________________________</td>
<td><h4>Encryption Status:</h4></td>
<td colspan="3">__________________________________</td>
</tr>
<tr>
<td align="center" colspan="8"></td>
</tr>
<tr>
<td align="center" colspan="8"><h2>DECLARATION</h2></td>
</tr>
<tr>
<td align="center" colspan="8"></td>
</tr>
<tr>
<td colspan="8"><p>I, __________________________________________ understand and agree to comply with the staff guidelines on using computing devices and related practice procedures covering good information governance as stipulated in the MCRB Acceptable Use Policy and other related guidelines as may be issued from time to time.<br> I also certify that the equipment has been received in good working condition. I understand that:<ul><li>it is my responsbility to report immediately any theft, loss, damage or misuse of the above asset.</li><li>The equipment must be returned if I leave employment and that a final salary deduction may be maade if equipment is not returned</li><li>Failure to comply with the above could lead to disciplinary action or incur financial penalties</li></p></td>
</tr>
<tr>
<td><h4>Signed:</h4></td>
<td colspan="3">_________________________________</td>
<td><h4>Date:</h4></td>
<td colspan="3"><input type="date"></td>
</tr>
<tr>
<td align="center" colspan="8"></td>
</tr>
</table>
</body>
</html>